/**
 * Extra large button extensions. Extends `.btn`.
 *use to add a new "btn-xlarge" to resize buttons
 */
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }